.header__lang-link {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: normal;
    line-height: 117%;
    margin-left: auto;
    margin-right: 18px;
    padding-bottom: 2%;
}

.header__lang-link:last-child {
    text-decoration-line: none;
    margin: 0;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        padding-bottom: 1%;
    }
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
    }
}