.photo-grid {
    max-width: 1184px;
    width: 92.6%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        width: 90.6%;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        width: 93.7%;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        width: 90%;
        gap: 12px;
        margin: 0 auto 64px;
    }
}
