.photo-grid {
    max-width: 92.5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 16px;
    margin: auto;
}

@media screen and (max-width: 425px) {
    .photo-grid {
        gap: 12px;
    }
}
