.photo-grid {
    max-width: 1440px;
    width: 94%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 16px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .photo-grid {
        gap: 12px;
    }
}
