.lead {
    max-width: 984px;
    width: 92.5%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100vw;
    }
}
