.lead {
    max-width: 984px;
    width: 92.5%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
    }
}