.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
    margin: 32px auto 0;
    max-width: 360px;
    z-index: 1;
    position: relative;
    padding-bottom: 21%;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        padding-bottom: 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        padding-bottom: 115px;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 16px auto 0;
        padding-bottom: 33px;
        max-width: 80%;
    }
}
