.header {
    max-width: 1184px;
    width: 92.6%;
    max-height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 28px 0 56px;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 90.6%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 93.7%;
    }
}

@media screen and (max-width: 425px) {
    .header {
        width: 90%;
        padding: 16px 0 48px;
    }
}
