.place__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    grid-area: text;
    margin: 0 auto;
    max-width: 484px;
}

@media screen and (max-width: 639px) {
    .place__text {
        max-width: 90%;
    }
}
