.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    width: 100vw;
    flex-basis: 60%;
}

@media screen and (max-width: 1279px) {
    .footer__copyright {
        flex-basis: calc(48% + 12 * ((100vw - 1024px) / (1279 - 1024)));
    }
}

@media screen and (max-width: 1023px) {
    .footer__copyright {
        flex-basis: calc(30% + 18 * ((100vw - 768px) / (1023 - 768)));
    }
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        flex-basis: 30%;
    }
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        text-align: left;
    }
}