.cover {
    max-width: 1184px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 92px auto;
    position: relative;
}

.cover:before {
    content: "";
    position: absolute;
    background: rgba(42, 44, 47, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.cover:hover:before {
    content: "";
    position: absolute;
    background: rgba(42, 44, 47, 0.8);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 0.2s ease-in-out 0.1s;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .cover {
        margin: 66px auto 64px;
    }
}
