.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
}

.place__link:hover {
    opacity: 0.8;
}
