.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 0;
    padding-top: 245px;
    max-width: 560px;
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
        padding: 33px 16px 0;
    }
}
