 .place {
     display: grid;
     grid-template-columns: 46.75% 1fr;
     row-gap: 48px;
     column-gap: 4.07%;
     grid-template-areas: "title website" "image text";
     margin: 64px 0 0;
 }

 @media screen and (max-width: 639px) {
     .place {
         grid-template-areas: "title" "website" "image" "text";
         grid-template-columns: minmax(min-content, max-content);
     }
 }
