.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
    column-gap: 40px;
    row-gap: 48px;
    grid-template-areas: "title website" "image paragraph";
    margin: 4em 0 0;
}
