.footer {
    max-width: 1184px;
    width: 90.6%;
    margin: 0 auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }
}
