.footer {
    max-width: 1184px;
    width: 92.6%;
    margin: 0 auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 90.6%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 93.7%;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }
}
