.place__url-heading {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0 auto 12px;
}
